---
layout: default
title: Japanese sewing pattern store
---

<div class="container store">
    <h2>Recommended books</h2>
    {% for link in site.data.store_links %}
        {% cycle 'open rows': '<div class="row">', nil, nil, nil %}
            <div class="col-md-3 text-center">
                {% include store_amazon_link.html link=link %}
            </div>
        {% cycle 'close rows': nil, nil, nil, '</div>' %}
    {% endfor %}
    {% cycle 'close rows': nil, nil, nil, '</div>' %}
</div>

