<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Japanese sewing patterns - {% if page.type %} {{ page.type }} - {% endif %}{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- build:css({app,.tmp}) /css/main.css -->
        <!-- Syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.path }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.path }}/_bower_components/fancybox/source/jquery.fancybox.css">
        <link rel="stylesheet" href="{{ site.path }}/css/main.css">
        <link rel="stylesheet" href="{{ site.path }}/css/ebook.css">
        <!-- endbuild -->

    </head>
    <body>
        <section class="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="http://www.twitter.com/Sewinlove" title="Follow @sewinlove on Twitter" target="_blank"><img src="{{ site.path }}/img/site/icons/twitter.png" width="32" height="32"></a>
                        <a href="https://www.facebook.com/SewinLoveBlog" title="Like sewinlove on Facebook" target="_blank"><img src="{{ site.path }}/img/site/icons/facebook.png" width="32" height="32"></a>
                        <a href="https://pinterest.com/sewinloveblog/" title="Follow sewinlove on Pinterest" target="_blank"><img src="{{ site.path }}/img/site/icons/pinterest.png" width="32" height="32"></a>
                    </div>
                    <div class="col-md-10">
                        <a class="about" href="/about">About/Contact</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 logo">
                        <h1><a href="{{ site.path }}/"><span>Japanese sewing patterns</span></a></h1>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="list col-md-6">
                                <ul class="list-unstyled">
                                    <li><a href="{{ site.path }}/free-japanese-sewing-patterns">Free sewing patterns</a></li>
                                    <li><a href="{{ site.path }}/reviews">Sewing pattern reviews</a></li>
                                </ul>
                            </div>
                            <div class="list col-md-6">
                                <ul class="list-unstyled">
                                    <li><a href="{{ site.path }}/recommended-pattern-books">Recommended books</a></li>
                                    <li><a href="{{ site.path }}/ebook">E-book</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{ content }}

        <section class="footer">
            <div class="container">
                <div class="row">
                    Copyright Airin Gomura 2013
                </div>
            </div>
        </section>

        <script type="text/javascript">
            var gaJsHost=(("https:"==document.location.protocol)?"https://ssl.":"http://www.");
            document.write(unescape("%3Cscript src='"+gaJsHost+
                    "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            var ejGATracker = _gat._getTracker("UA-3828042-11");
            ejGATracker._setDomainName("none");
            ejGATracker._setAllowLinker(true);
            ejGATracker._trackPageview();
        </script>

        <!-- build:js(app) /js/scripts.js -->
        <script src="/_bower_components/jquery/jquery.js"></script>
        <script src="/_bower_components/fancybox/source/jquery.fancybox.js"></script>
        <script src="/_bower_components/smoothscroll/smoothscroll.js"></script>
        <script src="/js/main.js"></script>
        <!-- endbuild -->
    </body>
</html>
