---
layout: default
---
<section class="post">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>{{ page.title }}</h2>
                <p class="meta">{{ page.date | date_to_string }}</p>

                {% include post_image.html landscape-image=page.landscape-image portrait-image=page.portrait-image %}

                {{ content }}

            </div>
            <div class="col-md-3">
                <h3>This is the amazon stuff</h3>
                <script type="text/javascript">
                    <!--
                    amazon_ad_tag="seinlo-20";
                    amazon_ad_width="160";
                    amazon_ad_height="600";
                    amazon_color_border="ACD1E9";
                    amazon_color_logo="626060";
                    amazon_color_link="291DDB";
                    amazon_ad_logo="hide";
                    amazon_ad_link_target="new";
                    amazon_ad_title="Japanese Sewing Patterns Book Store";
                    //-->
                </script>
                <script type="text/javascript" src="http://ir-na.amazon-adsystem.com/s/asw.js"></script>
            </div>
        </div>
    </div>
</section>
