---
layout: default
title: Japanese sewing pattern store
---

{% include ebook-callout.html %}

<div class="container store">
    <h2>Recommended Japanese Sewing Books</h2>
    {% for link in site.data.store_links %}
      {% assign mod = forloop.index0 | modulo:4 %}
      {% if forloop.index0 > 0 and mod == 0 %}
        </div>
      {% endif %}
      {% if mod == 0 %}
        <div class="row">
      {% endif %}
      <div class="col-md-3 text-center">
        {% include amazon_link_store.html link=link %}
      </div>
    {% endfor %}
</div>

