---
layout: default
---

<section class="e-book">
    <a href="{{ site.path }}/ebook">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="thumbnail">
                        <div class="image">
                            <img src="{{ site.path }}/img/site/SIL/JSP-Homepage-package-banner-643x362.png">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h2>How to sew Japanese sewing patterns ebook package</h2>
                    <h3>Everything you need to sew your first Japanese sewing pattern.</h3>
                    <h4>No Japanese skills required</h4>
                </div>
            </div>
        </div>
    </a>
</section>

{% include post_section.html posts=site.categories.reviews count=3 title="Reviews" %}
{% include post_section.html posts=site.tags.popular count=3 title="Popular" %}
