---
layout: default
title: Japanese sewing pattern ebook
type: ebook
---

<div class="ebook-sales">
    <script type="text/javascript" language="javascript">// <![CDATA[
    function EJEJC_lc(th) { return false; }
    // ]]></script><br />
    <script src="http://www.e-junkie.com/ecom/box.js" type="text/javascript"></script>

    <section class="intro">

        {% include ebook_nav.html id="intro" %}

        <div class="container">

            <div class="heading">
                <h1>If you don't speak Japanese, this is the book for you</h1>
                <p class="lead">You too can enjoy sewing beautiful Japanese sewing patterns.</p>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <p><strong>Step-by-step guide to help you quickly and successfully create the amazing designs Japanese
                        sewing books have to&nbsp;offer.</strong></p>
                    <ul>
                        <li>All you need to translate and understand Japanese sewing patterns in one handy ebook</li>
                        <li>2 print-at-home Japanese sewing patterns</li>
                        <li>Additional ebook, <strong>Easy Japanese Sewing Patterns</strong> for in-depth sewing instructions in Japanese and English</li>
                    </ul>

                    <p>
                        <a href="https://www.e-junkie.com/ecom/gb.php?c=cart&amp;i=1262203&amp;cl=254065&amp;ejc=2" onClick="javascript:return EJEJC_lc(this);"
                           data-goal="Package Button Top" class="btn btn-default btn-lg blue">BUY PACKAGE FOR&nbsp;<span>$25</span></a>
                    </p>

                    <p class="softLink" style="position: relative; left: 0px; top: 0px;"><a href="#sample">Get a free sample
                        chapter. No spam,&nbsp;ever.</a></p>
                </div>
                <div class="col-md-7">
                    <img src="{{ site.path }}/img/site/SIL/JSP-Homepage-package-banner-643x362.png">
                </div>
            </div>
        </div>
    </section>

    <section class="package">

        {% include ebook_nav.html id="package" %}

        <div class="container">

            <div class="heading">
                <h2>Package: The Book + Two Sewing Patterns + Illustrated Instructions</h2>
                <p class="lead">Everything you need to <span>build your confidence</span> using Japanese sewing patterns</p>

                <img src="{{ site.path }}/img/site/e-book-product-image.png"/>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2>How to Sew Japanese Sewing Patterns</h2>
                    <p class="lead">Designed to help you quickly and successfully create the amazing designs
                        Japanese sewing books have to offer.</p>
                    <ol>
                        <li>18+ diagrams and photos guides you step-by-step through the entire Japanese sewing process</li>
                        <li>Reference tables helps you to instantly translate Japanese sewing terms into English</li>
                        <li>Conversion charts for Japanese to Western clothing sizes for women’s, men’s and
                            children’s clothing
                        </li>
                        <li>38 pages of valuable information for your ongoing future reference</li>
                        <li>Suitable for all levels of sewing experience</li>
                    </ol>
                    <h3>2 Easy Japanese Sewing Patterns</h3>
                    <ol>
                        <li>High-waisted knee length skirt with bow waist tie</li>
                        <li>Flattering summer dress with a pleated neckline</li>
                        <li>Print at home PDF (includes printing instructions)</li>
                        <li>Available in four Japanese sizes: S, M, L, LL<a name="sizing"></a></li>
                        <img src="{{ site.path }}/img/site/SIL/Easy japanese sewing patterns size chart.png">
                    </ol>
                    <h3>Illustrated Instructions</h3>
                    <ol>
                        <li>In-depth, step-by-step instructions with 15+ diagrams; just like a real Japanese sewing book
                        </li>
                        <li>Full English translations</li>
                        <li>Learn as you sew; English sewing tutorials with 18+ photos</li>
                    </ol>
                    <p><a href="https://www.e-junkie.com/ecom/gb.php?c=cart&amp;i=1262203&amp;cl=254065&amp;ejc=2" onClick="javascript:return EJEJC_lc(this);"
                          data-goal="Package Button Lower" class="btn btn-default btn-lg blue">BUY NOW&nbsp;<span>$25</span></a></p>
                </div>
                <div class="col-md-6">
                    <h3>Sample Pages</h3>
                    <div class="row sample-pages">
                        <div class="col-md-6">
                            <a class="fancybox thumbnail" rel="ebook-gallery" href="{{ site.path }}/img/site/SIL/Sample-image-Contents_Page_1.png">
                                <img src="{{ site.path }}/img/site/SIL/Sample-image-Contents_Page_1-Thumb.png">
                            </a>
                            <strong>Ebook: Table of Contents 1</strong> Find out what's inside the ebook.
                        </div>
                        <div class="col-md-6">
                            <a class="fancybox thumbnail" rel="ebook-gallery" href="{{ site.path }}/img/site/SIL/Sample-image-Contents_Page_2.png">
                                <img src="{{ site.path }}/img/site/SIL/Sample-image-Contents_Page_2-Thumb.png">
                            </a>
                            <strong>Ebook: Table of Contents 2</strong>
                        </div>
                    </div>
                    <div class="row sample-pages">
                        <div class="col-md-6">
                            <a class="fancybox thumbnail" rel="ebook-gallery" href="{{ site.path }}/img/site/SIL/Sample-image-Sizing-Example.png">
                                <img src="{{ site.path }}/img/site/SIL/Sample-image-Sizing-Example-Thumb.png">
                            </a>
                            <strong>Ebook Page 13.</strong> Make sense of Japanese sizing charts.
                        </div>
                        <div class="col-md-6">
                            <a class="fancybox thumbnail" rel="ebook-gallery" href="{{ site.path }}/img/site/SIL/Sample-image-4-Sewing.png">
                                <img src="{{ site.path }}/img/site/SIL/Sample-image-4-Sewing-Thumb.png">
                            </a>
                            <strong>Ebook Page 27.</strong> Translate and understand sewing instructions and diagrams.
                        </div>
                    </div>
                    <div class="row sample-pages">
                        <div class="col-md-6">
                            <a class="fancybox thumbnail" rel="ebook-gallery" href="{{ site.path }}/img/site/SIL/Sample-image-Skirt.jpg">
                                <img src="{{ site.path }}/img/site/SIL/Sample-image-Skirt-Thumb.jpg">
                            </a>
                            <strong>Easy Japanese Sewing Patterns Page 7.</strong> Printable, real-size sewing pattern for a knee length skirt.
                        </div>
                        <div class="col-md-6">
                            <a class="fancybox thumbnail" rel="ebook-gallery" href="{{ site.path }}/img/site/SIL/Sample-image-Dress.jpg">
                                <img src="{{ site.path }}/img/site/SIL/Sample-image-Dress-Thumb.jpg">
                            </a>
                            <strong>Easy Japanese Sewing Patterns Page 9.</strong> Printable, real-size sewing pattern for a summer dress.
                        </div>
                    </div>
                    <div class="row sample-pages">
                        <div class="col-md-6">
                            <a class="fancybox thumbnail" rel="ebook-gallery" href="{{ site.path }}/img/site/SIL/Sample-image-JP-Howtomake.png">
                                <img src="{{ site.path }}/img/site/SIL/Sample-image-JP-Howtomake-Thumb.png">
                            </a>
                            <strong>Easy Japanese Sewing Patterns Page 11.</strong> Illustrated instructions, just like a
                            real Japanese sewing book.
                        </div>
                        <div class="col-md-6">
                            <a class="fancybox thumbnail" rel="ebook-gallery" href="{{ site.path }}/img/site/SIL/Sample-image-EN-Howtomake.png">
                                <img src="{{ site.path }}/img/site/SIL/Sample-image-EN-Howtomake-Thumb.png">
                            </a>
                            <strong>Easy Japanese Sewing Patterns Page 14.</strong> All instructions are translated into English.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ebook">

        {% include ebook_nav.html id="ebook" %}

        <div class="container">

            <div class="heading">
                <h2>The Book Only</h2>
                <p class="lead">If you are ready to <span>jump straight in</span> and sew your Japanese pattern.</p>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <h3>If you are already comfortable with Japanese sewing patterns, this book will help you translate and understand them more quickly.</h3>
                    <p>Think of it as a tool to keep by your side for reference when you are sewing your Japanese pattern. It's packed with information to help you successfully make your favourite Japanese sewing projects.</p>
                    <p><a href="https://www.e-junkie.com/ecom/gb.php?c=cart&amp;i=1259521&amp;cl=254065&amp;ejc=2" onClick="javascript:return EJEJC_lc(this);" data-goal="Book Only" class="btn btn-default btn-lg blue">BUY NOW <span>$15</span></a></p>

                    <p class="quote">Even when I thought I knew enough about Japanese sewing patterns, this ebook surprised me with cool tricks and nice tips to satisfy sewing Japanese needs.</p>
                    <h5>Silvia, <a href="http://bombardone.com/sewingprincess/">Sewing Princess</a></h5>
                </div>
                <div class="col-md-5">
                    <img src="{{ site.path }}/img/site/SIL/How-to-sew-Japanese-sewing-patterns-Ebook-ONLY.png">
                </div>
            </div>
        </div>
    </section>

    <section class="sample">

        {% include ebook_nav.html id="sample" %}

        <div class="container">

            <div class="heading">
                <h2>Free Sample Chapter</h2>
                <p class="lead">Download a FREE sample chapter from <span>How to Sew Japanese Sewing&nbsp;Patterns</span></p>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <p class="quote">The ebook is really easy to understand, the language is
                        simple and straightforward and it really covers the basics
                        for understanding Japanese&nbsp;patterns.</p>
                    <h5>Novita, <a href="http://www.verypurpleperson.com">Very Purple Person</a></h5>
                    <hr>

                    <p class="quote">I love that you dissected Japanese sewing patterns into the steps you would typically find!
                        And I also love the bullet points! Very useful&nbsp;stuff!</p>
                    <h5>Kat, <a href="http://www.sewchibi.com">Sew Chibi</a></h5>
                    <form class="navbar-form navbar-left" action="http://sewinlove.us5.list-manage.com/subscribe/post" method="POST">
                        <div class="form-group">
                            <input type="hidden" name="u" value="87227aa87c7b35164dc514cf0">
                            <input type="hidden" name="id" value="87bc2b9b51">
                            <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" class="form-control" id="MERGE0" placeholder="Your Email" size="25" value="">
                        </div>
                        <input type="submit" class="btn btn-default blue" name="submit" value="Get free sample chapter">
                    </form>
                </div>
                <div class="col-md-4">
                    <p><img src="{{ site.path }}/img/site/SIL/How-to-sew-Japanese-sewing-patterns-Ebook-SAMPLE.png"></p>
                </div>
            </div>
        </div>
    </section>

    <section class="faq">

        {% include ebook_nav.html id="faq" %}

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>About The Author</h3>
                    <p><img src="{{ site.path }}/img/site/SIL/Rin-profile-image.png"></p>
                    <h5>Hi, I'm Rin</h5>
                    <h5 class="softLink"><a href="http://www.SewinLove.com.au" class="blue">SewinLove.com.au</a></h5>
                    <p>I love all things&nbsp;handmade.</p>
                    <p>I have wanted to write this book for many years and have spent countless hours putting it together. I really hope it helps you to enjoy Japanese sewing&nbsp;patterns!</p>
                    <p class="softLink">I'm an Aussie girl from Japan, currently living in San Francisco with my husband. Please visit my blog, <a href="http://www.sewinlove.com.au"> Sew in Love</a> to check out my crafting&nbsp;adventures.</p>
                    <a href="https://www.e-junkie.com/ecom/gb.php?c=cart&amp;i=1262203&amp;cl=254065&amp;ejc=2" onClick="javascript:return EJEJC_lc(this);" data-goal="Package Button Bottom" class="btn btn-default btn-lg blue">BUY PACKAGE NOW&nbsp;<span>$25</span></a>
                </div>
                <div class="col-md-8">
                    <h3>Questions?</h3>

                    <div class="quote">
                        <p>Should I buy the package or just the ebook?</p>
                        <p>The package is designed to give you everything to get started on understanding and sewing Japanese sewing patterns. It equips you with the ebook, as well as two sewing patterns to build up your confidence. The pattern instructions are illustrated with English translations and sewing tutorials to make it as easy as possible. If you are experienced at sewing Japanese patterns AND already have some Japanese sewing patterns on hand, just the ebook will give you the translations and guidance you need.</p>
                    </div>
                    <hr>

                    <div class="quote">
                        <p>What sizes are available in the two sewing patterns?</p>
                        <p>The skirt and maxi dress sewing patterns come in the Japanese sizes S, M, L and LL. Please refer to the <a href="#sizing">Sizing Chart</a> to check the measurements. Both sewing patterns can be easily altered to bigger and smaller sizes.</p>
                    </div>
                    <hr>

                    <div class="quote">
                        <p>I've never seen a Japanese sewing pattern. Is this ebook still&nbsp;relevant?</p>
                        <p>"How to Sew Japanese Sewing Patterns" is perfect to familiarise yourself with the wonder of
                        Japanese sewing patterns. It's a great introduction to their structure, variety,
                        where to find them and how to use them to make beautiful garments.
                        To see some great Japanese sewing pattern books, you can read my <a href="/reviews/">book reviews</a>.</p>
                    </div>
                    <hr>

                    <div class="quote">
                        <p>Other questions?</p>
                        <p>Please feel free to email Rin (at) SewinLove.com.au if you have more questions. I'd love to hear from you!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>