<section class="e-book">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="thumbnail">
          <div class="image">
            <a href="{{ site.path }}/ebook"><img src="{{ site.path }}/img/site/SIL/JSP-Homepage-package-banner-643x362.png"></a>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <h2>Ebook: How to Sew Japanese Sewing Patterns</h2>
        <h3>Everything you need to sew your first Japanese sewing pattern.</h3>
        <h4>No Japanese skills required</h4>
        <div style="text-align: center">
          <a href="/ebook" class="btn btn-default btn-lg blue buy">Start my sewing journey!</a>
        </div>
      </div>
    </div>
  </div>
</section>
