.ebook.page {

  .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  hr {
    border-top: 4px solid #ccc;
    margin: 60px 0;
  }

  h1, h2, h3 {
    text-align: center;
  }

  img, img + em {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  p > div.dpd-large {
    margin: 45px auto 0;
    display: block;
    text-align: center;
  }

  ol {
    margin-bottom: 50px;
  }
}
