---
layout: default
title: Japanese sewing patterns
---

<div class="row">
    <h2>Free Japanese sewing patterns</h2>
    {% for post in site.posts %}
        {% if forloop.index < 4 %}
            {% if post.categories contains 'free-patterns' %}
            <div class="col-6 col-sm-6 col-lg-4">
                <div class="thumbnail">
                    <a href="{{ post.url }}"><img src="{{ site.path}}/img{{ post.id }}/thumb.jpg"></a>
                    <div class="caption">
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
<div class="row">
    <h2>Japanese sewing pattern book reviews</h2>
    {% for post in site.posts %}
        {% if forloop.index < 4 %}
            {% if post.categories contains 'reviews' %}
            <div class="col-6 col-sm-6 col-lg-4">
                <div class="thumbnail">
                    <a href="{{ post.url }}"><img src="{{ site.path}}/img{{ post.id }}/thumb.jpg"></a>
                    <div class="caption">
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
<div class="row">
    <h2>Popular</h2>
    {% for post in site.posts %}
    <div class="col-6 col-sm-6 col-lg-4">
        <div class="thumbnail">
            <a href="{{ post.url }}"><img src="{{ site.path}}{{ post.thumb }}"></a>
            <div class="caption">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            </div>
        </div>
    </div>
    {% endfor %}
</div>