<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">How to Sew Japanese Sewing Patterns E-book</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <img width="180" src="/img/site/SIL/How-to-sew-Japanese-sewing-patterns-Ebook-SAMPLE.png"/>
            </div>
            <div class="col-md-5">
                <p>Download FREE sample chapter</p>
                <form role="form" class="{{ include.classes }}" action="http://sewinlove.us5.list-manage.com/subscribe/post" method="POST">
                    <div class="form-group">
                        <input type="hidden" name="u" value="87227aa87c7b35164dc514cf0">
                        <input type="hidden" name="id" value="87bc2b9b51">
                        <label for="MERGE0">Email address</label>
                        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" class="form-control" id="MERGE0" placeholder="Your Email" value="">
                    </div>
                    <input type="submit" class="btn btn-default blue" name="submit" value="Get free sample chapter">
                </form>
            </div>
        </div>
    </div>
</div>