.ebook-sales {

  .container {
    clear: both;
  }

  .sample-pages > div {
    min-height: 200px;
    margin-top: 1.75em;
  }

  .sample-pages a {
    padding: 0;
    margin-bottom: 0.5em;
  }

  section.faq {
    background-color: #d1ebf7;
    padding-bottom: 2em;
  }

  div.heading {

    img {
      margin-left: 30px;
    }

    h2 {
      font-size: 1.75em;
    }
  }

  .ebook-nav ul {
    float: right;
    padding-top: 1em;
    li {
      font-family: 'Crimson Text', serif;
      font-size: 1.25em;
    }
  }

  .ebook-nav {
    border-bottom: 2px solid #c0c0c0;
    margin-top: 2em;
  }

  .quote {
    position: relative;
    padding-left: 32px;
  }

  .quote:before {
    content: "“";
    font-size: 68px;
    color: #4f575a;
    position: absolute;
    left: 0;
    top: 22px;
  }

  .faq p a, .faq h5 a {
    color: #00BFFF;
  }
}